<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minelan.mapper.TbMaintenanceKilMapper">
  <resultMap id="BaseResultMap" type="com.minelan.entity.TbMaintenanceKil">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mplan_id" jdbcType="INTEGER" property="mplanId" />
    <result column="kil" jdbcType="REAL" property="kil" />
    <result column="prompt_messages" jdbcType="VARCHAR" property="promptMessages" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>