<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minelan.mapper.TbDataBaseMapper">
  <resultMap id="BaseResultMap" type="com.minelan.entity.TbDataBase">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="data_name" jdbcType="VARCHAR" property="dataName" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
</mapper>