<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minelan.mapper.TbInsuranceCompanyMapper">
  <resultMap id="BaseResultMap" type="com.minelan.entity.TbInsuranceCompany">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="corporate_name" jdbcType="VARCHAR" property="corporateName" />
    <result column="contacts" jdbcType="VARCHAR" property="contacts" />
    <result column="contact_number" jdbcType="VARCHAR" property="contactNumber" />
    <result column="hotline" jdbcType="VARCHAR" property="hotline" />
    <result column="return_point_ratio" jdbcType="DECIMAL" property="returnPointRatio" />
    <result column="company_address" jdbcType="VARCHAR" property="companyAddress" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
</mapper>