<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minelan.mapper.TbSendCarMapper">
  <resultMap id="BaseResultMap" type="com.minelan.entity.TbSendCar">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="send_id" jdbcType="INTEGER" property="sendId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="car_id" jdbcType="INTEGER" property="carId" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="current_kil" jdbcType="REAL" property="currentKil" />
    <result column="scale" jdbcType="REAL" property="scale" />
    <result column="driver_id" jdbcType="INTEGER" property="driverId" />
    <result column="confirm_url" jdbcType="VARCHAR" property="confirmUrl" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="return_kil" jdbcType="REAL" property="returnKil" />
    <result column="return_scale" jdbcType="REAL" property="returnScale" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="return_url" jdbcType="VARCHAR" property="returnUrl" />
    <result column="return_remark" jdbcType="VARCHAR" property="returnRemark" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="cancel_order" jdbcType="SMALLINT" property="cancelOrder" />
  </resultMap>
</mapper>