<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minelan.mapper.TbSettleUnpaidMapper">
  <resultMap id="BaseResultMap" type="com.minelan.entity.TbSettleUnpaid">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="settle_id" jdbcType="INTEGER" property="settleId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="debt" jdbcType="DECIMAL" property="debt" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>