<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minelan.mapper.TbSettleCheckMapper">
  <resultMap id="BaseResultMap" type="com.minelan.entity.TbSettleCheck">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="settle_id" jdbcType="INTEGER" property="settleId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="pass" jdbcType="INTEGER" property="pass" />
    <result column="opinion" jdbcType="VARCHAR" property="opinion" />
  </resultMap>
</mapper>